body {
    background-color: aqua;
    display: grid;
    place-items: center;
}

form {
    margin: 3em;
    margin-top: 5em;
    padding: 1em;
    text-align: center;
    
    border: 2px solid black;
    /* position: relative; */
    width: max-content;
}

input {
    margin: 10px 0;
}

button {
    font-size: 1em;
    padding: 5px 7px;

    margin-top: 2em;
}
